<!DOCTYPE HTML>
<html>
  <head>
    <title>Products Page</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css" />
  </head>
<!--   make a header that includes a search bar -->
  <body>
   <center>
<div id="categories">
        <div class="container">
          <h1>Hello Guest!</h1>
          <p>Select the artist to see their albums. Hover over the album cover to get the name of the album.</p>
          <a href = "/search">
            <button type = "button" class = "button">Search for Product</button>
          </a>
          <h2>Artists</h2>
            <div class="category-list">
                <!------taylor------>
                <div class="category">
                    <img src = "https://i.pinimg.com/originals/01/16/71/011671a827fe9ca560c40dfe1f1d8003.jpg" 
                    class = "image">
                    <a href = "#taylor" >
                    <div class="overlay">
                        <div class="text">Taylor Swift</div>
                    </div>
                    </a>
                </div>
                <!------gracie------>
                <div class="category">
                        <img src = "https://i.pinimg.com/originals/82/00/18/82001854b2a2f435c376c01badb6e331.jpg"
                        class = "image">
                    <a href = "#gracie">
                    <div class="overlay">
                        <div class="text">Gracie Abrams</div>
                    </div>>
                    </a>
                </div>
                <!------maisie------>
                <div class="category">
                        <img src = "https://www.hungertv.com/app/uploads/2020/09/maisie-5-690x920.jpg"
                        class = "image">
                    <a href = "#maisie">
                    <div class="overlay">
                        <div class="text">Maisie Peters</div>
                    </div>>
                    </a>
                </div>
                </div>
                <br>
            </div>
        </div>
    </div>

     
    <div class="parallax1"></div>
    
    <div id="taylor">
        <div class="container">
          <br><br><br>
              <h1>Taylor Swift</h1>
              <a href = "#categories"><button class="button" >Back to Artists</button></a>
              <br>
            <div class="category-list">
              
                <!------1989------>
                <div class="category">
                    <img src = "https://upload.wikimedia.org/wikipedia/en/f/f6/Taylor_Swift_-_1989.png" 
                    class = "image">
                    <a href = "" >
                    <div class="overlay">
                        <div class="text">1989</div>
                    </div>
                    </a>
                </div>
                <!------Midnights------>
                <div class="category">
                        <img src = "https://upload.wikimedia.org/wikipedia/en/9/9f/Midnights_-_Taylor_Swift.png"
                        class = "image">
                    <a href = "">
                    <div class="overlay">
                        <div class="text">Midnights</div>
                    </div>>
                    </a>
                </div>
                <!------Fearless (Taylor's Version)------>
                <div class="category">
                        <img src = "https://upload.wikimedia.org/wikipedia/en/5/5b/Fearless_%28Taylor%27s_Version%29_%282021_album_cover%29_by_Taylor_Swift.png"
                        class = "image">
                    <a href = "">
                    <div class="overlay">
                        <div class="text">Fearless (Taylor's Version)</div>
                    </div>>
                    </a>
                </div>
                <!------Reputation------>
                <div class="category">
                        <img src = "https://upload.wikimedia.org/wikipedia/en/f/f2/Taylor_Swift_-_Reputation.png"
                        class = "image">
                    <a href = "">
                    <div class="overlay">
                        <div class="text">Reputation</div>
                    </div>>
                    </a>
                </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="parallax1"></div>

    <div id="gracie">
        <div class="container">
          <br><br><br>
              <h1>Gracie Abrams</h1>
              <a href = "#categories"><button class="button" >Back to Artists</button></a>
              <br>
            <div class="category-list">
                <!------Good Riddance------>
                <div class="category">
                    <img src = "https://media.pitchfork.com/photos/63fcc5014c1fa9c56a8cb15e/1:1/w_600/Gracie%20Abrams-%20Good%20Riddance%20.jpeg" 
                    class = "image">
                    <a href = "" >
                    <div class="overlay">
                        <div class="text">Good Riddance</div>
                    </div>
                    </a>
                </div>
                <!------This Is What It Feels Like------>
                <div class="category">
                        <img src = "https://upload.wikimedia.org/wikipedia/en/thumb/3/33/Gracie_Abrams_-_This_Is_What_It_Feels_Like.png/220px-Gracie_Abrams_-_This_Is_What_It_Feels_Like.png"
                        class = "image">
                    <a href = "">
                    <div class="overlay">
                        <div class="text">This Is What It Feels Like</div>
                    </div>
                    </a>
                </div>
              <!------Minor------>
                <div class="category">
                        <img src = "https://m.media-amazon.com/images/I/61Yv2sYgeIL._SL1500_.jpg"
                        class = "image">
                    <a href = "">
                    <div class="overlay">
                        <div class="text">Minor</div>
                    </div>
                    </a>
                </div>
              <!------Mess It Up------>
                <div class="category">
                        <img src = "https://i.scdn.co/image/ab67616d0000b2731e209fb0ebc9de8c859bd25f"
                        class = "image">
                    <a href = "">
                    <div class="overlay">
                        <div class="text">Mess It Up</div>
                    </div>
                    </a>
                </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="parallax1"></div>




    <div class="parallax1"></div>

        <div id="maisie">
        <div class="container">
          <br><br><br>
              <h1>Maisie Peters</h1>
              <a href = "#categories"><button class="button" >Back to Artists</button></a>
              <br>
            <div class="category-list">
              
                <!------You Signed Up For This------>
                <div class="category">
                    <img src = "https://upload.wikimedia.org/wikipedia/en/d/d6/YouSignedUpForThisCover.jpg" 
                    class = "image">
                    <a href = "" >
                    <div class="overlay">
                        <div class="text">You Signed Up For This</div>
                    </div>
                    </a>
                </div>
                <!------Dressed Too Nice For A Jacket------>
                <div class="category">
                        <img src = "https://images.genius.com/581b5f2778ac230cd555f68ff25d923e.1000x1000x1.png"
                        class = "image">
                    <a href = "">
                    <div class="overlay">
                        <div class="text">Dressed Too Nice For A Jacket</div>
                    </div>>
                    </a>
                </div>
              <!------Good Witch------>
                <div class="category">
                        <img src = "https://linkstorage.linkfire.com/medialinks/images/8cd81d42-00ed-44ba-a9be-0c0b5b95a1d8/artwork-440x440.jpg"
                        class = "image">
                    <a href = "">
                    <div class="overlay">
                        <div class="text">Good Witch</div>
                    </div>
                    </a>
                </div>
              <!------It's Your Bed Babe, It's Your Funeral------>
                <div class="category">
                        <img src = "https://i.scdn.co/image/ab67616d0000b273dcee2da2d44f5d95ec173a34"
                        class = "image">
                    <a href = "">
                    <div class="overlay">
                        <div class="text">It's Your Bed Babe, It's Your Funeral</div>
                    </div>
                    </a>
                </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="parallax1"></div>
    </center>
  </body>
  
</html>