<!DOCTYPE html>
<html>
<head>
  <title>Order History</title>
  <link href="/static/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <center>
    <h1>Order History</h1>
    <a href = "/m_products">
            <button type = "button" class = "button">Return to Products</button><br><br>
    </a>
    <a href = "/cart">
            <button type = "button" class = "button">Return to Cart</button><br><br>
    </a>
    <h2>My Orders</h2>
    {% if orders %}
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Total</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{{ order['order_id'] }}</td>
          <td>${{ order['total'] }}</td>
          <td>{{ order['order_date'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <h2>No Orders Found</h2>
    {% endif %}
    </center>
</body>
</html>

